.nombre-usuario {
    padding: 1%;
    background-color: beige;

}
A:link {
    text-decoration: none
}

.correo {

    padding: 1%;
    background-color: beige;
}

.numero {
    padding: 1%;
    background-color: beige;
}

.consulta {
    padding: 1%;
    background-color: beige;
}

.contacto {
    color: white;
}
