.productos {
    background-color: rgba(25, 44, 95, 0.651);
    color: gold;
    margin: 0%;
    padding: 10%;
    border-radius: none;
    align-items: center;
    }
    
    A:link {
        text-decoration: none
    }

.sahumerio {
    width: 200px;
    height: 200px;
    border: solid 3px rgba(224, 223, 152, 0.493);
    background-image: auto;
    border-radius: 10%;
    align-items: center;
    background-size: cover;


}


.sahumerios {
    margin-top: 10vh;
    text-align: center;
}




.hornito {
    width: 200px;
    height: 200px;
    border: solid 3px rgba(224, 223, 152, 0.493);
    align-content: flex-start;
    text-align: center;
    border-radius: 10%;

}

.horno {
    text-align: center;
    margin-top: 10vh;
    bottom: auto;
}





.aceites {
    width: 200px;
    height: 200px;
    border: solid 3px rgba(224, 223, 152, 0.493);
    align-content: flex-start;
    border-radius: 10%;

}



.aceite {
    text-align: center;
    margin-top: 10vh;


}

.vela {
    text-align: center;
    margin-top: 10vh;

}

.velas {
    width: 200px;
    height: 200px;
    border: solid 3px rgba(224, 223, 152, 0.493);
    align-content: flex-start;
    border-radius: 10%;

}