h3 {
    background-color: rgba(235, 42, 42, 0.651);
    color: white;
    text-align: center;
    padding: 1%;
    font-size: 60px;


}
A:link {
    text-decoration: none
}
.facebook_logo {

    width: 120px;
    height: 120px;
}

.instagram_logo {

    width: 120px;
    height: 120px;

}