.footer {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, ;
    padding: 10rem;
    border: 10px;
margin-top: auto ;
}


.bg-azul {
    background-color: blueviolet;
}

.c-white {
    color: white;
}

.footer-redes{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, ;
    padding: 10rem;
    border: 10px;
    margin-top: auto;
}

.footer-contacto{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, ;
    padding: 10rem;
    border: 10px;
    margin-top: auto;
}